asttokens==2.1.0
backcall==0.2.0
comm==0.1.1
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
executing==1.2.0
ipykernel==6.18.1
ipython==8.7.0
jedi==0.18.2
jupyter_client==7.4.7
jupyter_core==5.1.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.23.5
packaging==21.3
pandas==1.5.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.4
prompt-toolkit==3.0.33
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytson @ git+https://github.com/tercen/pytson@d4a09aa8ea20d16b48313bf234718870947b9d0e
pytz==2022.6
pyzmq==24.0.1
six==1.16.0
stack-data==0.6.2
tercen @ git+https://github.com/tercen/tercen_python_client@6914bbd3d68d38f85523c3f3a6fcfb9c28a9fbdb
tornado==6.2
traitlets==5.5.0
wcwidth==0.2.5
